/* Global styles */
body {
  font-family: "Raleway", sans-serif;
  background-color: #f4f7fc;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-family: "Raleway", sans-serif;
  color: #333;
}

p {
  color: #555;
}


.event-page {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.event-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: all 0.3s ease;
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.event-card img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.event-card-content {
  flex: 1;
  padding: 10px;
}

.event-card-content h2 {
  font-size: 28px;
  margin: 0;
  font-weight: bold;
  color: #333;
}

.event-card-content p {
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 1.6;
}

.event-card-content p:last-child {
  margin-bottom: 0;
}

.go-back-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 6px 12px; 
  font-size: 14px; 
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.go-back-button:hover {
  background-color: #0056b3;
}



.event-page p {
  font-size: 18px;
  margin-top: 30px;
  text-align: center;
  font-weight: 600;
  color: #333;
}

.event-page .sign-up-form {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.sign-up-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
}

.sign-up-form h3 {
  font-size: 24px;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.sign-up-form label {
  font-size: 14px;
  color: #555;
  margin-bottom: 6px;
  display: block;
}

.sign-up-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.sign-up-form input:focus {
  border-color: #007bff;
  outline: none;
}

.sign-up-form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 20px;
}

.sign-up-form button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .sign-up-form {
    width: 90%; 
  }
}



@media (max-width: 768px) {
  .event-card {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .event-card img {
    width: 100%;
    max-width: 350px;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .event-card-content {
    text-align: center;
  }

  .event-card-content h2 {
    font-size: 24px;
  }

  .go-back-button {
    width: 100%;
    padding: 12px;
  }
}
